<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Danh mục lớp</h2>
  <form action="/action_page.php">
    <div class="form-group">
      <label for="text">Tên lớp:</label>
      <input type="text" class="form-control" id="tenlop" placeholder="Nhập tên lớp" name="tenlop" [(ngModel)]="lop.tenlop">
    </div>
    <button type="submit" class="btn btn-default" (click)="btn_save()">Lưu</button>
  </form>
</div>

<div class="container" >
  <ng-container *ngFor="let i of list_lop">
    <div class="row">
      <div class="col-8">
          <div class="alert alert-primary" role="alert">
              {{i.tenlop}}
            </div>        
      </div>
      <div class="col-2">
          <button type="button" class="btn btn-primary"(click)="btn_delete()">Xóa</button>
      </div>
      <div class="col-2">
          <button type="button" class="btn btn-success" (click)="btn_update()">Sửa</button>
      </div>
    </div>
  
  </ng-container>
</div>

</body>
</html>
